/* Estilos para as Seções */
section {
    padding: 50px 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos para os Títulos */
h1, h2, h3 {
    color: #333;
}

/* Estilos para os Projetos */
.project {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

/* Estilos para os Artigos Publicados */
.artigos_publicados {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: justify; /* Justificar o texto */
}

/* Estilos para os Cursos Realizados */
.cursos_realizados {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.list-item {
    list-style-type: none; /* Remover os marcadores de lista padrão */
    padding: 5px 0; /* Espaçamento entre os itens da lista */
}

/* Estilo personalizado */
.profile-img {
    
    height: auto; /* Altura automática para manter a proporção */
    margin-right: 0px; /* Espaçamento entre a imagem e o texto */
    border-radius: 50%; /* Define a borda como circular */
    overflow: hidden; /* Garante que a imagem seja cortada corretamente para o formato circular */
}

.contact-icons a {
    color: green; /* Cor dos ícones de contato */
    font-size: 24px; /* Tamanho dos ícones */
    margin-right: 10px; /* Espaçamento entre os ícones */
}

iframe {
    border: none; /* Remove a borda padrão do iframe */
    width: 100%; /* Define a largura do iframe para ocupar todo o espaço disponível */
    height: 500px; /* Define uma altura fixa para o iframe (você pode ajustar conforme necessário) */
    border-radius: 8px; /* Adiciona bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
    margin-bottom: 20px; /* Adiciona margem inferior para separar os iframes */
}

.project {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.project p {
    display: none;
    margin-top: 10px;
}

.project iframe {
    display: none;
    margin-top: 10px;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
