/* Estilos para as Seções */
section {
    padding: 50px 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos para os Títulos */
h1, h2, h3 {
    color: #333;
}

.cards_timeline {
    font-size: 30px; /* Tamanho do texto em pixels */
    text-align: center; /* Centraliza o texto */
}

.p_card_interno {
    text-align: center; /* Centraliza o texto */
}

/* Estilos para os Projetos */
.project {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px; /* Adiciona bordas arredondadas */
    text-align: justify; /* Justificar o texto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
    background-color: #f9f9f9;
}

/* Estilos para os Artigos Publicados */
.artigos_publicados {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: justify; /* Justificar o texto */
    border-radius: 8px; /* Adiciona bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
    background-color: #f9f9f9;
}

/* Estilos para os Seções da página index */
.secoes_index {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px; /* Adiciona bordas arredondadas */
    text-align: justify; /* Justificar o texto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
    background-color: #f9f9f9;
}


/* Estilos para os Cursos Realizados */
.cursos_realizados {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px; /* Adiciona bordas arredondadas */
    text-align: justify; /* Justificar o texto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
    background-color: #f9f9f9;
}

.list-item {
    list-style-type: none; /* Remover os marcadores de lista padrão */
    padding: 5px 0; /* Espaçamento entre os itens da lista */
}

/* Estilo personalizado */
.profile-img {
    width: 90%; /* Define a largura máxima como 100% */
    height: auto; /* Altura automática para manter a proporção */
    margin-right: 0px; /* Espaçamento entre a imagem e o texto */
    border-radius: 50%; /* Define a borda como circular */
    overflow: hidden; /* Garante que a imagem seja cortada corretamente para o formato circular */
}

.contact-icons a {
    color: green; /* Cor dos ícones de contato */
    font-size: 24px; /* Tamanho dos ícones */
    margin-right: 10px; /* Espaçamento entre os ícones */
}

iframe {
    border: none; /* Remove a borda padrão do iframe */
    width: 100%; /* Define a largura do iframe para ocupar todo o espaço disponível */
    height: 500px; /* Define uma altura fixa para o iframe (você pode ajustar conforme necessário) */
    border-radius: 8px; /* Adiciona bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
    margin-bottom: 20px; /* Adiciona margem inferior para separar os iframes */
}

.project {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.project p {
    display: none;
    margin-top: 10px;
}

.project iframe {
    display: none;
    margin-top: 10px;
}

#areas_projetos {
    margin-bottom: 10px; /* Adiciona espaçamento entre as divs */
}

#espaco_div {
    margin-bottom: 10px; /* Adiciona espaçamento entre as divs */
}

#resultado_idade{
    text-align: justify; /* Justificar o texto */
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Centraliza o texto */
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: green;
    color: black;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
